*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #f6f4e6;
  font: 10px;
  font-family: 'SF Text', sans-serif;
}

.container {
  min-width: 375px;
  max-width: 414px;
  margin: 0 auto;
}

nav {
  align-items: center;
  background-color: #191d7b;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
  position: relative;
}

img {
  position: absolute;
  top: 0;
  width: 100%;
}

.left {
  display: inline-block;
  position: absolute;
}

.back {
  color: #f2ece6;
  display: inline-block;
  left: 45px;
  position: absolute;
}

.title {
  bottom: 20px;
  color: #f2ece6;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.bus-list h4 {
  text-align: center;
}

.content {
  display: inline-block;
  width: 90%;
}

.data {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  color: #191d7b;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-content {
  height: 500px;
  overflow-Y: auto;
}

.eastbound-1 {
  background-color: white;
}

.eastbound-class {
  background-color: #191d7b;
  color: #f8f1f1;
  height: 7%;
  padding-top: 13px;
  padding-left: 10px;
}

.northbound-2 {
  background-color: #f2ece6;
}

.northbound-class {
  border-top: 0;
  background-color: #191d7b;
  color: #f8f1f1;
  height: 7%;
  padding-top: 13px;
  padding-left: 10px;
}

.southbound-3 {
  background-color: #f3e4d5;
}

.southbound-2 {
  background-color: #f2ece6;
}

.southbound-class {
  background-color: #191d7b;
  color: #f8f1f1;
  height: 7%;
  padding-top: 13px;
  padding-left: 10px;
}

.reroute {
  background-color: #eb4d55;
  color: #f8f1f1;
}

.reroute-class {
  background-color: #eb4d55;
  color: #f8f1f1;
  height: 7%;
  padding-top: 13px;
  padding-left: 10px;
}

.reroute h2 {
  visibility: hidden;
}

.reroute i {
  visibility: hidden;
}

.out-of-service span {
  font-weight: 400;
}

.out-of-service h4 {
  display: none;
}

.out-of-service i {
  visibility: hidden;
}

.out-of-service {
  background-color: #bdbdbd;
  color: #4c4c4c;
}

.outofservice-class {
  background-color: #bdbdbd;
  color: #4c4c4c;
  height: 7%;
  padding-top: 13px;
  padding-left: 10px;
}

.arrow {
  display: flex;
  font-size: 0.6em;
  font-weight: normal;
  justify-content: center;
  padding-left: 30px;
  width: 10%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.35;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 0;
  text-align: right;
}

h3 {
  font-size: 1em;
  width: 160px;
  height: 16px;
}

h4 {
  font-size: 0.8em;
  margin-top: 0;
  padding-left: 65px;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}

h1, h2 {
  font-family: 'SF Display';
  font-weight: 900;
}

h1, h2, h3, h4 {
  display: inline-block;
  width: 49%;
}
